[Unit]
Description=atualizacao de dockers
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=900
User=root
ExecStart=/home/ubuntu/at2.sh

[Install]
WantedBy=multi-user.target